<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Sign in with twitter", user_twitter_omniauth_authorize_path %>

<% if current_user %>
<%= current_user.token %>
<%  end %>
